db_admin_username = "<user>"
db_admin_password = "<password>"
region      = "<region>"
vpc_id      = "<VPC>"
subnets     = ["<subnet1>", "<subnet2>"]
deletion_protection = false
cluster_identifier  = "<cluster_identifier"
tags        = { "tag1" = "value" }
provision_user_database = false
prefix = "PREFIX"
permissions_boundary_arn = "arn:aws:iam::XXXXXXXX:policy/SomeRoleBoundary"

## Optional. These variables are for configuring the cloudwatch log group's retention periods
# cloudwatch_log_retention_periods = {
#   <lambda function or task name> = 365
# }
#
# default_log_retention_days = 15