terraform {
  backend "s3" {
    region         = "us-west-2"
    bucket         = "nsidc-sb-tf-state"
    key            = "nsidc-sb/data-persistence/terraform.tfstate"
    dynamodb_table = "nsidc-sb-tf-locks"
  }
}
